<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<div id="aside">
    <form id="form" action='/filter' method="POST">
      <select name="seleccion">
        <option value=""></option>
        <option value='titulo'>Titulo</option>
        <option value='creador'>Creador</option>
        <option value="categoria">Categoria</option>
      </select>
      <input type="text" name="filte">
      <button type="submit">Buscar</button>
    </form>
  </div>