<footer  class="bg-dark" style="margin-top:50px;width:100%;height:150px;">
    <p class="text-white p-5 text-center fs-4">Aplicacion para registrar novedades &copy Luis carlos, Santiago, Victor</p>
</footer>