<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<div id="nav">
    <!-- <nav class="navbar navbar-dark bg-dark"> -->
    <nav id="navbar">
      <ol style="list-style:none;">
        <li class="p-3"><a class="text-info text-decoration-none fs-4">Blog</a></li>
        <li class="p-3"><a class="text-decoration-none fs-4" href="/">Inicio</a></li>
        <li class="p-3"><a class="text-decoration-none fs-4" href="/crear">Crear</a></li>
      </ol>
      
    </nav>
</div>

